<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="foundation">
  <link
    name="table_link">
    <inertial>
      <origin
        xyz="0.017137 0.025038 0.71647"
        rpy="0 0 0" />
      <mass
        value="53.254" />
      <inertia
        ixx="2.0763"
        ixy="-0.072445"
        ixz="-0.09758"
        iyy="5.469"
        iyz="-0.13074"
        izz="6.4085" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foundation/meshes/table_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foundation/meshes/table_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="foundation_Link">
    <inertial>
      <origin
        xyz="-5.5511E-17 -8.1481E-06 -0.005"
        rpy="0 0 0" />
      <mass
        value="0.55521" />
      <inertia
        ixx="0.002567"
        ixy="-1.0842E-18"
        ixz="3.2526E-19"
        iyy="0.002647"
        iyz="2.7105E-19"
        izz="0.0052048" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foundation/meshes/foundation_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foundation/meshes/foundation_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="foundation_joint"
    type="fixed">
    <origin
      xyz="-0.42 -0.0355 0.775"
      rpy="0 0 0" />
    <parent
      link="table_link" />
    <child
      link="foundation_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>